# dependencies

node_modules

# Ignore files for PNPM, NPM and YARN

pnpm-lock.yaml
package-lock.json
yarn.lock

# next.js

.next
next-env.d.ts

# production

build
dist
out

# vscode folder

.vscode

# env

.env
.env.local

# commit validation

.husky/_

# testing

.swc